p {
    color:rgb(12, 8, 3);
}

h1 {
    color: coral;
}

h2 { color: blue;}

ol {color:darkgreen}

ul {background-color: rgb(255, 0, 200); color:rgb(20, 1, 1)} 

table {color:black; border: 1px;} 

table {width: 30%;}

th {border: 1px; background-color: rgb(2, 12, 12);}

td { border: 1px; background-color: black;}

tr { color: #FFF;}

